
body {
    font-family: -apple-system,BlinkMacSystemFont,HelveticaNeue,AppleSDGothicNeo,sans-serif;
    font-size: 14px;
    line-height: 1.25em;
    color: #333;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #e9ecef;
}


.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
}

.common-inner{
    padding: 0 6px;
}
section {
    margin-top: 6px;
    border: 1px solid #e1e4e7;
    background-color: #fff;
}

.link-more {
    display: block;
    padding: 7px;
    margin-left: 5px;
    border-top: 1px solid #eeeff1;
    line-height: 20px;
    color: #999;
    text-align: right;
    svg {
        margin-left: 5px;
    }
}

.eventSlide {
    width: 100%;
    height: 397px;
    background-color: #e9ecef;
}

.swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container{
    .sc-eventSlide {
        .eventSlide {
            .swiper-pagination {
                display: flex;
                justify-content: space-between;
                bottom: 20px; left: 50%;
                transform: translateX(-50%);
                max-width: 305px;
                height: 3px;
                .swiper-pagination-bullet {
                    flex: 1;
                    height: 100%;
                    margin: 0;
                    border-radius: 0;
                    background-color: #dee1e4;
                    opacity: 1;
                    &.swiper-pagination-bullet-active {
                        background: #222;
                    }
                }
            }
        }
      }
  }
  .container{
    .sc-shopLive {
        .shopLive {
            height: 100%;
            .swiper-pagination {
                bottom: 7px;
                .swiper-pagination-bullet {
                    width: 5px; height: 5px;
                    margin: 0 2px;
                    &.swiper-pagination-bullet-active {
                        background: #8352c7;
                    }
                }
            }
        }
    }
}

.ic-logo::after, .ic-shopping::after, .voice::after, .img-search::after,
.law-area a::after, .btn-top::after, .footer-logo, .info-area button:after,
.gnb-area i, .img-menu {
    background-image: url(../images/sprite_main01.png);
    background-repeat: no-repeat;
}
.sc-rank .title-box::before {
    background-image: url(../images/sprite_main02.png);
    background-repeat: no-repeat;
}
// 메인 페이지

.header-sub .naver-logo, .header-sub button, .btn-pick::before, .item-info button::before,
.how a::before, .other-btn .btn-share::before, .other-btn .btn-pick::before {
    background-image: url("https://static-resource-smartstore.pstatic.net/smartstore/m/static/20220630153710/img/sprite/svg/spIcon_svg.svg");
    background-size: 659px 650px;
    background-repeat: no-repeat;
}

.point-area em::after, .how a::after, .banner::after  {
    background-image: url("https://static-resource-smartstore.pstatic.net/smartstore/m/static/20220630153710/img/sprite/svg/spArrow_svg.svg");
    background-size: 193px 188px;
    background-repeat: no-repeat;
}

.tip-title p::before {
    background-image: url("https://static-resource-smartstore.pstatic.net/smartstore/m/static/20220630153710/img/sprite/svg/spText_svg.svg");
    background-size: 336px 295px;
    background-repeat: no-repeat;
}